@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@1,700&display=swap");
* {
  margin: 0;
}
body {
  background-color: #f5f6fa;
}
.app {
  display: flex;
  /* flex-direction: column; */
  justify-content: space-evenly;
}

.left {
  flex: 0.9;
  justify-content: center;
}

.app_header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  /* justify-content: center; */
  justify-content: space-between;
  color: #ff415b;
  margin-bottom: 0px;
}
.app_header img {
  width: 150px;
}

.app_header h1 {
  text-align: center;
  font-family: "Arvo", serif;
  font-size: 2.8rem;
}
.countryTitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding: 20px; */
}

.right {
  width: 30%;
}

/* .countryTitle img {
  width: 90px !important;
} */
.leaflet {
  height: 500px;
}
.app_stats {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  width: 100%;
}
.app_stats h3 {
  display: inline-block;
  margin: 20px;
}
.app_stats img {
  display: inline-block;
  width: 64px;
}

.info-boxes {
  display: flex;
  justify-content: space-around;
}

.info-boxes infoBox {
  width: 30%;
}

@media (max-width: 990px) {
  .app {
    flex-direction: column;
  }
  .right {
    width: 100%;
  }
}
